body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #D8D9DA;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    margin: auto; /* Center horizontally */
    transform: translateY(0);
    margin-left: 500px;
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    }

.container.hidden {
    transform: translateY(20px);
    opacity: 0;
}

.input-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 10px;
    font-size: 14px;
    color: #ff4444;
    transition: color 0.3s ease;
}

.thankyou-container {
    text-align: center;
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    margin: auto; /* Center horizontally */
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
}

.thankyou-container.hidden {
    transform: translateY(20px);
    opacity: 0;
}

.thankyou-message {
    font-size: 24px;
    margin: 20px 0;
    color: #00aaff;
}
